.txtcss {
    width: 100%;
    margin-bottom: 4px;
    padding: 10px;
    border: 1px solid #f4f4f4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.btncss {
    width: 100% !important;
    cursor: pointer;
    background: #9617f8;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}

.conteiner{
    width:50%;
}

.label-contact {
    color: #405c60;
    position: relative;
    padding: 5px;
}

contact {
    padding-left: 5rem;
}