input[type=file]{
    display: none;
}





.content {
    display: flex;
    margin-top: 4rem;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

label {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #9617f8;
    color: white;
    padding: 16px 27px;
    border-radius: 10px;
}

    label:hover {
        background-color: #f4f4f4;
        color: #9617f8;
        padding: 18.2px 27px;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

.btnsub {
    background-color: #272b33;
    color: white;
    padding: 18.2px 60px;
    border-radius: 10px;
    border: none;
}

    .btnsub:hover {
        background-color: #f4f4f4;
        color: #9617f8;
        padding: 18.2px 60px;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

@media(min-width: 520px) {
    .content {
        display: inline-block;
        margin-left: 20rem;
        margin-top: 4rem;
        gap: 2rem;
    }
}