.button {
    color: #272b33;
    text-decoration: none;
}

    .button:hover {
        text-decoration: none;
        outline: none;
        color: #9617f8;
    }
        .uploadcss{
            height: 80px;
        }

.gview {
    width: 319px;
   
}

        @media(min-width: 768px){
            .uploadcss {
                margin-left:12rem;
            }

            .gview {
                width: 720px;
            }
        }

/*@media(max-width: 768px){
    .gview {
        width: 420px;
    }
*/